.jumbotron
{
    text-align: center;
    border: 1px solid $primary;
}

.btn-outline-primary
{
    border: 1px solid $primary !important;
}

.btn-outline-danger
{
    border: 1px solid $danger !important;
}

.container
{
    margin-top: 1em;
}